
/*------------------------------------------------------------*/
.navbar{
  background-color: rgba(128, 21, 21, 0.5);
  border: transparent;
}

.navbar-header-link h3 {
  color: white;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-header-link:hover, .navbar-header-link:active, .navbar-header-link:visited {
  text-decoration: none;
}

.navbar-header-link h3:hover {
  text-decoration: none;
  color: #D34747;
}

.navbar-header-link h3:hover, .navbar-header-link h3:active, .navbar-header-link h3:visited {
  text-decoration: none;
}


 html,body,.container
{
    height:100%;
    background-color:#FF6347;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    color: #FFAAAA;

}



aside{
  background: #FF816A;
  color: white;
  padding-bottom: 100%;

}

table{
  margin: 25px;
  padding:10px;
}
.input-group{
  margin: 25px;
}

.row-fluid {
    margin-top: -20px;
    margin-left: -20px;
}

section{
  color: white;

}

section .v-center{
  padding-top: 50px;
}



.btn-custom {
    color: white;
    background-color: #d3d3d3;
    border-color: transparent;
    border-radius: 10px;
    font-size: 18px;

}

.heading{
  font-size: 4rem;
}

.info-page p{
  font-size: 2rem;

}



/*--------------------------------------------------------------*/
