<div  class="container info-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center heading">Work</h1>
      </br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="pulse-how-to">
        <p class="text-justify">Work in short rhythmic BURSTS, focusing on your most important task first.  After "starting" your work session, the timer will display 25-minutes; you should FOCUS on the task at hand.  Once the timer ends, you will move into a 5-minute break session. Ideally, for the most effective sesssions, complete 4-cycles and then treat yourself to a longer break.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center heading">Break</h1>
      </br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div>
        <p class="text-justify">It's critical to include scheduled breaks into your work routine.  Building RENEWAL into you work-day, prevents burn-out. It's not only important to REST your mind and eyes; breaking away between work sessions mimics your bodies NATURAL CYCLE for renewal as well. Improve your productivity by allowing yourself to take a break after sessions of intent focus.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="text-justify">For more information about the Pomodoro Technique, check out this <a class="web-link" href="http://pomodorotechnique.com/">site.</a></p>
    </div>
  </div>

</div>
