<main class="container">
	<div class="column.fourth"> 
		<h2> Task History</h2>
		<form>
			<label> Task </label>
			<input type="text" ng-model="taskName"></input>
			<button ng-click="taskTimer.addTask(taskName)"> Add Task </button>
		</form>
		<ul ng-repeat="task in taskTimer.tasks">
			<li> 
				<span>{{ task.taskName }}</span>
				<span><button ng-click="taskTimer.deleteTask(task)"> Delete </button></span>
			</li>
		</ul>	
		    	
	</div>
	<div class="column.three-fourths"> 
		<h1> Timer </h1>
		<timer taskTime="{{taskTimer.taskTime}}" breakTime="{{taskTimer.breakTime}}" longBreakTime="{{taskTimer.longBreakTime}}">
		</timer>
	</div>		
</main>